<form #f="ngForm" (ngSubmit)="logearse()">
    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Email: </label>
        <div class="col-sm-10">
            <input #email="ngModel" class="form-control" [ngClass]="email.invalid && email.dirty ? 'is-invalid' : ''" 
                type="email" name="email" [(ngModel)]="loginClienteDTO.email" required />
            <div *ngIf="email.invalid && email.dirty" class="invalid-feedback">
                Por favor, introduce un email válido.
            </div>
        </div>
    </div>

    <div class="mb-3 row">
        <label class="col-sm-2 col-form-label">Contraseña: </label>
        <div class="col-sm-10">
            <input #confirmaPassword="ngModel" class="form-control" [ngClass]="confirmaPassword.invalid && confirmaPassword.dirty ? 'is-invalid' : ''" 
                type="password" name="confirmaPassword" [(ngModel)]="loginClienteDTO.contrasena" required />
            <div *ngIf="confirmaPassword.invalid && confirmaPassword.dirty" class="invalid-feedback">
                Por favor, introduce una contraseña válida.
            </div>
        </div>
    </div>
    
    <div class="mb-3 row">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Iniciar Sesión</button>
        </div>
    </div>
</form>
